<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>あなたのデッキ</h1>
    <div class="listOfDecksArea">
    <% if(!decks.length){ %>
    ※あなたのデッキはまだありません．新規作成ボタンから新しく作ってください．
      <% }else{
        decks.forEach((deck)=>{%>
          <div class="deck">
          <a href="./deckDetail?deckID=<%=deck.deckID%>"><%=deck.deckName%></a> 
          </div>
        <% })
      }%>
    </div>
    <button onclick="location.href='/deckMake'">新規作成</button>
  </body>
</html>
